#my-popover,
#my-popover1,
#my-popover2,
#my-popover3{
    width: 500px;
    background-color: white;
    color: black;
    padding: 30px;
    border: 2px solid green;
    border-radius: 12px;
    outline: none;
    text-align: center;
    box-shadow: 2px 2px 10px lightgray;
}

#my-popover.active,
#my-popover1.active,
#my-popover2.active,
#my-popover3.active{
    display: block;
}

.close-btn {
    background: green;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px 30px;
    color: White;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

.close-btn1 {
    background: red;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px 30px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
}
.btn {
    background-color: green;
    color: white;
    border: 2px solid black;
    border-radius: 13px;
    padding: 10px 30px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
#my-popover .close-btn {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 2s ease-in-out forwards 2s;
}
#my-popover .close-btn1 {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 2s ease-in-out forwards 3s;
} 

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#my-popover h1, #my-popover1 h1, #my-popover3 h1 {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#my-popover1 h2 , #my-popover3 h2{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 2s ease-in-out forwards 1s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#my-popover1 h2 {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 2s ease-in-out forwards 2s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#my-popover1 img, #my-popover img {
    animation: bounce 2s ease-in-out alternate infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

#my-popover2 h1 {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 2s ease-in-out forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#my-popover2 h2 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 2s ease-in-out forwards 1s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
#my-popover2 button {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 2s ease-in-out forwards 2s;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#my-popover2 img {
    animation: bounce 2s ease-in-out alternate infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}